.container {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: inline-flex;
  margin-right: -12px;
  margin-left: -12px;
}

.col-lg-12, .col-sm-auto {
  padding-right: 12px;
  padding-left: 12px;
}

.col-lg-12 {
  max-width: auto;
}

.col-sm-auto {
  width: auto;
}


.form-control {
  width: 93%;
  padding: 6px 8px;
  font-size: 16px;
  line-height: 24px;
  color: #222;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  margin-bottom: 12px;
}


.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 0;
  cursor: pointer;
  border: transparent;
}

.btn-primary {
  color: #fff;
  background-color: #008cba;
}

.btn-secondary {
  color: #000;
  background-color: #eee;
  border: 1px solid;
}

.alert-danger {
  color: #842029;               
}

.alert-success {
  color: #0f5132;
}
